<form
  [formGroup]="form"
  (ngSubmit)="OnSubmit()"
>
  <div class="{{classes}}">
    <span class="form-title">Reset password</span>
    <div class="info-message">
      To reset your password, please provide your email.
    </div>
    <div class="form-input-block">
      <p *ngIf="form.get('email').invalid && form.get('email').touched" class="message">{{emailErrorMessage}}</p>
      <div class="wrapper">
        <span class="material-icons icon">email</span>
        <input
          formControlName="email"
          class="form-input"
          id="email"
          type="email"
          placeholder="Email"
        >
      </div>
      <p *ngIf="emailWasNotFound && form.get('email').untouched && form.get('email').value === null" class="message message-bottom">{{emailWasNotFoundMessage}}</p>
    </div>
    <div class="form-action">
      <button
        type="submit"
        class="form-button"
        [disabled]="!form.valid"
      >
        <span *ngIf="form.enabled">Send</span>
        <span *ngIf="form.disabled">Loading...</span>
      </button>
    </div>
  </div>
</form>

