<form
  [formGroup]="form"
  (ngSubmit)="OnSubmit()"
>
  <div class="auth-form">
    <span class="form-title">Reset password</span>
    <div class="form-input-block">
      <p *ngIf="form.get('password').invalid && form.get('password').touched && form.get('password').errors['required']" class="message">
        {{message.INVALID_PASSWORD}}
      </p>
      <p *ngIf="form.get('password').invalid && form.get('password').touched && form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']" class="message">
        the password is too short, {{8 - form.get('password').errors['minlength']['actualLength']}} more
      </p>
      <div class="wrapper">
        <span class="material-icons icon">lock</span>
        <input
          formControlName="password"
          class="form-input"
          id="password"
          type="password"
          placeholder="New password"
        >
      </div>
    </div>
    <div class="form-input-block">
      <p *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched && form.get('confirmPassword').errors['required']" class="message">
        {{message.INVALID_PASSWORD}}
      </p>
      <p *ngIf="form.get('confirmPassword').invalid && form.get('confirmPassword').touched && form.get('confirmPassword').errors['minlength'] && form.get('confirmPassword').errors['minlength']['requiredLength']" class="message">
        the password is too short, {{8 - form.get('confirmPassword').errors['minlength']['actualLength']}} more
      </p>
      <div class="wrapper">
        <span class="material-icons icon">lock</span>
        <input
          formControlName="confirmPassword"
          class="form-input"
          id="confirmPassword"
          type="password"
          placeholder="Confirm new password"
        >
      </div>
    </div>
    <div class="form-action">
      <button
        type="submit"
        class="form-button"
        [disabled]="!form.valid"
      >
        <a href="/updated-password"><span *ngIf="form.enabled">Save</span></a>
        <span *ngIf="form.disabled">Loading...</span>
      </button>
    </div>
  </div>
</form>

